.custom-background {
  background: url("surf.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 75vh;
  margin: -18px;
  border-color: blueviolet;
}

.nav{
  border-color: white;
}